<div class="large-12 columns blog">

<%= link_to 'New User', new_user_path, { :class => 'button'} %>

<ul class="large-block-grid-4 ">

    <% @users.each do |user| %>
       <li>
        <article class="panel">
            <a href="users/<%= user.id %>" class="th avatar">
              <img src="http://lorempixel.com/220/220" />
            </a>

            <p>
              <h3><%= user.username %></h3>
              <p>Registered the <%= user.created_at.strftime('%d/%m/%Y') %></p>
            </p>

            <p>
              <%= link_to 'Show', user %> |
              <%= link_to 'Edit', edit_user_path(user) %> |
              <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>

            <p class="center">
              <%= link_to 'Its posts', { :controller => 'posts', :action => 'userposts', :id => user.id }, :class => 'button' %>
            </p>

        </article>
      </li>
    <% end %>

</ul>

</div>