<div class="large-12 columns blog">

  <%= link_to 'New Post', new_post_path, { :class => 'button'} %>

  <ul class="large-block-grid-4 ">

    <% @posts.each do |post| %>
      <li>
        <article>
            <p>
              <h3><%= post.title %></h3>
              <p>Written by <i><%= post.user.username %></i>, the <%= post.created_at.strftime('%d/%m/%Y') %></p>
            </p>
            
            <p class="panel">
              <i><%= post.content %></i>
            </p>
            
            <p>
              <%= post.comments.count %> Comment(s)
            </p>

            <p>
              <%= link_to 'Show', post %> |
              <%= link_to 'Edit', edit_post_path(post) %> |
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>

        </article>
      </li>
    <% end %>
  
  </ul>

</div>